USE [db_knowledge_bank]
GO
/****** Object:  Table [dbo].[tbl_config_email_server]    Script Date: 3/31/2022 2:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_config_email_server](
	[email_srv_id] [int] IDENTITY(1,1) NOT NULL,
	[email_srv_com_code] [nvarchar](50) NULL,
	[email_srv_host] [nvarchar](100) NULL,
	[email_srv_port] [nvarchar](5) NULL,
	[email_srv_usr] [nvarchar](50) NULL,
	[email_srv_pass] [nvarchar](50) NULL,
	[email_srv_form_title] [nvarchar](50) NULL,
	[email_srv_remark] [nvarchar](300) NULL,
	[email_srv_status] [nvarchar](20) NULL,
	[email_srv_issue_by] [nvarchar](50) NULL,
	[email_srv_issue_date] [date] NULL,
	[email_srv_issue_time] [time](7) NULL,
	[email_srv_issue_datetime] [datetime] NULL,
 CONSTRAINT [PK_tbl_config_app_email_server] PRIMARY KEY CLUSTERED 
(
	[email_srv_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_knowledge_comment]    Script Date: 3/31/2022 2:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_knowledge_comment](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[comment_content] [nvarchar](1000) NULL,
	[comment_knowledge_code] [nvarchar](20) NULL,
	[comment_read_status] [nvarchar](10) NULL,
	[comment_by] [nvarchar](50) NULL,
	[comment_time] [nvarchar](30) NULL,
	[knowledge_issue_date] [nvarchar](30) NULL,
	[knowledge_issue_datetime] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_knowledge_comment] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_knowledge_data]    Script Date: 3/31/2022 2:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_knowledge_data](
	[knowledge_id] [int] IDENTITY(1,1) NOT NULL,
	[knowledge_code] [nvarchar](20) NULL,
	[knowledge_title] [nvarchar](200) NULL,
	[knowledge_title_other] [nvarchar](200) NULL,
	[knowledge_author] [nvarchar](100) NULL,
	[knowledge_dept] [nvarchar](30) NULL,
	[knowledge_file_link] [nvarchar](900) NULL,
	[knowledge_file_link_pdf] [nvarchar](900) NULL,
	[knowledge_file_link_ppt] [nvarchar](900) NULL,
	[knowledge_emp_no] [nvarchar](20) NULL,
	[knowledge_user_upload] [nvarchar](100) NULL,
	[knowledge_issue_time] [nvarchar](30) NULL,
	[knowledge_issue_date] [nvarchar](30) NULL,
	[knowledge_issue_datetime] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_knowledge_data] PRIMARY KEY CLUSTERED 
(
	[knowledge_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_knowledge_department]    Script Date: 3/31/2022 2:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_knowledge_department](
	[knowledge_dept_id] [int] IDENTITY(1,1) NOT NULL,
	[knowledge_dept_code] [nvarchar](10) NULL,
	[knowledge_dept_name] [nvarchar](100) NULL,
	[knowledge_dept_status] [nvarchar](10) NULL,
	[knowledge_dept_time] [time](7) NULL,
	[knowledge_dept_date] [date] NULL,
	[knowledge_dept_datetime] [datetime] NULL,
 CONSTRAINT [PK_tbl_knowledge_department] PRIMARY KEY CLUSTERED 
(
	[knowledge_dept_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_knowledge_like_unlike]    Script Date: 3/31/2022 2:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_knowledge_like_unlike](
	[like_id] [int] IDENTITY(1,1) NOT NULL,
	[like_user_code] [nvarchar](25) NULL,
	[like_status] [nvarchar](25) NULL,
	[like_content_code] [nvarchar](25) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_knowledge_login_log]    Script Date: 3/31/2022 2:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_knowledge_login_log](
	[user_login_id] [int] IDENTITY(1,1) NOT NULL,
	[user_login_ip] [nvarchar](30) NULL,
	[user_login_user] [nvarchar](30) NULL,
	[user_login_name] [nvarchar](50) NULL,
	[user_login_type] [nvarchar](30) NULL,
	[user_login_status] [nvarchar](30) NULL,
	[user_issue_date_login_log] [date] NULL,
	[user_issue_time_login_log] [time](7) NULL,
	[user_issue_datetime_login_log] [datetime] NULL,
 CONSTRAINT [PK_tbl_knowledge_login_log] PRIMARY KEY CLUSTERED 
(
	[user_login_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_knowledge_reject_log]    Script Date: 3/31/2022 2:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_knowledge_reject_log](
	[knowledge_reject_Id_code] [int] IDENTITY(1,1) NOT NULL,
	[knowledge_reject_log_code] [nvarchar](50) NULL,
	[knowledge_reject_log_comment] [nvarchar](500) NULL,
	[knowledge_reject_log_by] [nvarchar](50) NULL,
	[knowledge_reject_log_time] [time](7) NULL,
	[knowledge_reject_log_date] [date] NULL,
	[knowledge_reject_log_datetime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_knowledge_running]    Script Date: 3/31/2022 2:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_knowledge_running](
	[knowledge_running_id] [int] IDENTITY(1,1) NOT NULL,
	[knowledge_running_code] [nvarchar](20) NULL,
	[knowledge_running_reject_comment] [nvarchar](300) NULL,
	[knowledge_running_status] [nvarchar](20) NULL,
	[knowledge_running_issue_by] [nvarchar](50) NULL,
	[knowledge_running_status_issue_by] [nvarchar](50) NULL,
	[knowledge_running_time] [time](7) NULL,
	[knowledge_running_date] [date] NULL,
	[knowledge_running_datetime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_knowledge_taget]    Script Date: 3/31/2022 2:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_knowledge_taget](
	[knowledge_taget_id] [int] IDENTITY(1,1) NOT NULL,
	[knowledge_taget_year] [nvarchar](5) NULL,
	[knowledge_taget_dept] [nvarchar](50) NULL,
	[knowledge_taget_total] [nvarchar](3) NULL,
	[knowledge_taget_user_issue] [nvarchar](100) NULL,
	[knowledge_taget_date] [date] NULL,
	[knowledge_taget_time] [time](7) NULL,
	[knowledge_taget_datetime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_knowledge_user]    Script Date: 3/31/2022 2:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_knowledge_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](50) NULL,
	[user_password] [nvarchar](1000) NULL,
	[user_name_lastname_en] [nvarchar](150) NULL,
	[user_name_lastname_th] [nvarchar](150) NULL,
	[user_dept] [nvarchar](50) NULL,
	[user_email] [nvarchar](150) NULL,
	[user_emp_no] [nvarchar](30) NULL,
	[user_type] [nvarchar](30) NULL,
	[user_enable] [nvarchar](7) NULL,
	[user_issue_time] [time](7) NULL,
	[user_issue_date] [date] NULL,
	[user_issue_datetime] [datetime] NULL,
 CONSTRAINT [PK_tbl_knowledge_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_knowledge_user_online]    Script Date: 3/31/2022 2:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_knowledge_user_online](
	[kb_online_id] [int] IDENTITY(1,1) NOT NULL,
	[user_code] [nvarchar](30) NULL,
	[user_login_name] [nvarchar](150) NULL,
	[user_dept] [nvarchar](20) NULL,
	[kb_online_date] [date] NULL,
	[kb_online_lastime] [datetime] NULL,
 CONSTRAINT [PK_knowledge_user_online] PRIMARY KEY CLUSTERED 
(
	[kb_online_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_knowledge_view]    Script Date: 3/31/2022 2:48:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_knowledge_view](
	[count_view_id] [int] IDENTITY(1,1) NOT NULL,
	[count_view_knowledge_code] [nvarchar](50) NULL,
	[count_view] [int] NULL,
 CONSTRAINT [PK_tbl_knowledge_view] PRIMARY KEY CLUSTERED 
(
	[count_view_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_config_email_server] ON 

INSERT [dbo].[tbl_config_email_server] ([email_srv_id], [email_srv_com_code], [email_srv_host], [email_srv_port], [email_srv_usr], [email_srv_pass], [email_srv_form_title], [email_srv_remark], [email_srv_status], [email_srv_issue_by], [email_srv_issue_date], [email_srv_issue_time], [email_srv_issue_datetime]) VALUES (1, N'GDJ', N'smtp.office365.com', N'587', N'abt.automail@all2gether.net', N'365arIR5dReya0APez!S', N'abt.automail@all2gether.net', NULL, N'Active', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_config_email_server] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_knowledge_comment] ON 

INSERT [dbo].[tbl_knowledge_comment] ([comment_id], [comment_content], [comment_knowledge_code], [comment_read_status], [comment_by], [comment_time], [knowledge_issue_date], [knowledge_issue_datetime]) VALUES (2, N'อยากเรียนหลักสูตร Internor Audit', N'KB-2021-0034', N'N', N'Wattana Srinamol', N'15:37:02', N'2022-02-03', N'2022-02-03 15:37:02')
SET IDENTITY_INSERT [dbo].[tbl_knowledge_comment] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_knowledge_data] ON 

SET IDENTITY_INSERT [dbo].[tbl_knowledge_data] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_knowledge_like_unlike] ON 

INSERT [dbo].[tbl_knowledge_like_unlike] ([like_id], [like_user_code], [like_status], [like_content_code]) VALUES (1, N'TTV02733', N'UNLIKE', N'KB-2022-0037')
INSERT [dbo].[tbl_knowledge_like_unlike] ([like_id], [like_user_code], [like_status], [like_content_code]) VALUES (2, N'TTV02733', N'UNLIKE', N'KB-2022-0036')
INSERT [dbo].[tbl_knowledge_like_unlike] ([like_id], [like_user_code], [like_status], [like_content_code]) VALUES (3, N'TTV02733', N'UNLIKE', N'KB-2021-0031')
SET IDENTITY_INSERT [dbo].[tbl_knowledge_like_unlike] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_knowledge_login_log] ON 

INSERT [dbo].[tbl_knowledge_login_log] ([user_login_id], [user_login_ip], [user_login_user], [user_login_name], [user_login_type], [user_login_status], [user_issue_date_login_log], [user_issue_time_login_log], [user_issue_datetime_login_log]) VALUES (352, N'183.89.221.234', N'TTV02733', N'Panumas Srisook', N'TEMP', N'LOOUT SUCCESS', CAST(N'2021-10-18' AS Date), CAST(N'09:01:08' AS Time), CAST(N'2021-10-18T09:01:08.000' AS DateTime))
INSERT [dbo].[tbl_knowledge_login_log] ([user_login_id], [user_login_ip], [user_login_user], [user_login_name], [user_login_type], [user_login_status], [user_issue_date_login_log], [user_issue_time_login_log], [user_issue_datetime_login_log]) VALUES (353, N'183.89.221.234', N'TTV00830', N'Teerapong Supasiri', N'Employee', N'LOGIN SUCCESS', CAST(N'2021-10-18' AS Date), CAST(N'09:22:39' AS Time), CAST(N'2021-10-18T09:22:39.000' AS DateTime))
INSERT [dbo].[tbl_knowledge_login_log] ([user_login_id], [user_login_ip], [user_login_user], [user_login_name], [user_login_type], [user_login_status], [user_issue_date_login_log], [user_issue_time_login_log], [user_issue_datetime_login_log]) VALUES (354, N'183.89.221.234', N'TTV02401', N'Methasit Nongchang', N'Employee', N'LOGIN SUCCESS', CAST(N'2021-10-18' AS Date), CAST(N'09:25:19' AS Time), CAST(N'2021-10-18T09:25:19.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[tbl_knowledge_login_log] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_knowledge_reject_log] ON 

INSERT [dbo].[tbl_knowledge_reject_log] ([knowledge_reject_Id_code], [knowledge_reject_log_code], [knowledge_reject_log_comment], [knowledge_reject_log_by], [knowledge_reject_log_time], [knowledge_reject_log_date], [knowledge_reject_log_datetime]) VALUES (13, N'KB-2021-0001', N'Revise details min 2.00', N'Anong Nacom', CAST(N'09:39:55' AS Time), CAST(N'2021-10-18' AS Date), CAST(N'2021-10-18T09:39:55.000' AS DateTime))
INSERT [dbo].[tbl_knowledge_reject_log] ([knowledge_reject_Id_code], [knowledge_reject_log_code], [knowledge_reject_log_comment], [knowledge_reject_log_by], [knowledge_reject_log_time], [knowledge_reject_log_date], [knowledge_reject_log_datetime]) VALUES (14, N'KB-2021-0001', N'Please be attach pdf file for deep details.', N'Anong Nacom', CAST(N'14:07:21' AS Time), CAST(N'2021-10-19' AS Date), CAST(N'2021-10-19T14:07:21.000' AS DateTime))
INSERT [dbo].[tbl_knowledge_reject_log] ([knowledge_reject_Id_code], [knowledge_reject_log_code], [knowledge_reject_log_comment], [knowledge_reject_log_by], [knowledge_reject_log_time], [knowledge_reject_log_date], [knowledge_reject_log_datetime]) VALUES (15, N'KB-2021-0003', N'Please be attach pdf file for deep details.', N'Anong Nacom', CAST(N'16:30:36' AS Time), CAST(N'2021-10-19' AS Date), CAST(N'2021-10-19T16:30:36.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_knowledge_reject_log] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_knowledge_running] ON 

INSERT [dbo].[tbl_knowledge_running] ([knowledge_running_id], [knowledge_running_code], [knowledge_running_reject_comment], [knowledge_running_status], [knowledge_running_issue_by], [knowledge_running_status_issue_by], [knowledge_running_time], [knowledge_running_date], [knowledge_running_datetime]) VALUES (28, N'KB-2021-0001', N'Please be attach pdf file for deep details.', N'APPROVE', N'Teerapong Supasiri', N'Anong Nacom', CAST(N'17:23:30' AS Time), CAST(N'2021-10-19' AS Date), CAST(N'2021-10-19T17:23:30.000' AS DateTime))
INSERT [dbo].[tbl_knowledge_running] ([knowledge_running_id], [knowledge_running_code], [knowledge_running_reject_comment], [knowledge_running_status], [knowledge_running_issue_by], [knowledge_running_status_issue_by], [knowledge_running_time], [knowledge_running_date], [knowledge_running_datetime]) VALUES (30, N'KB-2021-0003', N'Please be attach PDF file instead of slide PPT file.', N'APPROVE', N'Warunya Phichayahchaikul', N'Anong Nacom', CAST(N'09:55:49' AS Time), CAST(N'2021-10-20' AS Date), CAST(N'2021-10-20T09:55:49.000' AS DateTime))
INSERT [dbo].[tbl_knowledge_running] ([knowledge_running_id], [knowledge_running_code], [knowledge_running_reject_comment], [knowledge_running_status], [knowledge_running_issue_by], [knowledge_running_status_issue_by], [knowledge_running_time], [knowledge_running_date], [knowledge_running_datetime]) VALUES (32, N'KB-2021-0005', N'For PDF file, please be deep details each slide.', N'APPROVE', N'Wannachai Kerdcho', N'Anong Nacom', CAST(N'21:25:05' AS Time), CAST(N'2021-10-22' AS Date), CAST(N'2021-10-22T21:25:05.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_knowledge_running] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_knowledge_taget] ON 

INSERT [dbo].[tbl_knowledge_taget] ([knowledge_taget_id], [knowledge_taget_year], [knowledge_taget_dept], [knowledge_taget_total], [knowledge_taget_user_issue], [knowledge_taget_date], [knowledge_taget_time], [knowledge_taget_datetime]) VALUES (4, N'2021', N'ISO', N'3', N'Panumas Srisook', CAST(N'2021-10-15' AS Date), CAST(N'11:06:14' AS Time), CAST(N'2021-10-15T11:06:14.000' AS DateTime))
INSERT [dbo].[tbl_knowledge_taget] ([knowledge_taget_id], [knowledge_taget_year], [knowledge_taget_dept], [knowledge_taget_total], [knowledge_taget_user_issue], [knowledge_taget_date], [knowledge_taget_time], [knowledge_taget_datetime]) VALUES (5, N'2021', N'CIC', N'3', N'Panumas Srisook', CAST(N'2021-10-01' AS Date), CAST(N'13:01:49' AS Time), CAST(N'2021-10-01T13:01:49.000' AS DateTime))
INSERT [dbo].[tbl_knowledge_taget] ([knowledge_taget_id], [knowledge_taget_year], [knowledge_taget_dept], [knowledge_taget_total], [knowledge_taget_user_issue], [knowledge_taget_date], [knowledge_taget_time], [knowledge_taget_datetime]) VALUES (6, N'2021', N'HR', N'3', N'Panumas Srisook', CAST(N'2021-10-14' AS Date), CAST(N'17:18:44' AS Time), CAST(N'2021-10-14T17:18:44.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_knowledge_taget] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_knowledge_user] ON 

INSERT [dbo].[tbl_knowledge_user] ([id], [user_name], [user_password], [user_name_lastname_en], [user_name_lastname_th], [user_dept], [user_email], [user_emp_no], [user_type], [user_enable], [user_issue_time], [user_issue_date], [user_issue_datetime]) VALUES (1, N'Panumas', N'eaec829a61f00596f7513657fbf2e093', N'Panumas Srisook', N'ภาณุมาศ ศรีสุข', N'IT', N'panumas@all2gether.net', N'TTV02733', N'ADMIN', N'Enable', CAST(N'16:24:16' AS Time), CAST(N'2021-09-06' AS Date), CAST(N'2021-09-06T16:24:16.000' AS DateTime))
INSERT [dbo].[tbl_knowledge_user] ([id], [user_name], [user_password], [user_name_lastname_en], [user_name_lastname_th], [user_dept], [user_email], [user_emp_no], [user_type], [user_enable], [user_issue_time], [user_issue_date], [user_issue_datetime]) VALUES (2, N'test01', N'0e698a8ffc1a0af622c7b4db3cb750cc', N'ddddd', N'qwdqwd', N'IT', N'kkk@kkk.com', N'TTV02734', N'USER ', N'Enable', CAST(N'13:00:15' AS Time), CAST(N'2021-08-20' AS Date), CAST(N'2021-08-20T13:00:15.000' AS DateTime))
INSERT [dbo].[tbl_knowledge_user] ([id], [user_name], [user_password], [user_name_lastname_en], [user_name_lastname_th], [user_dept], [user_email], [user_emp_no], [user_type], [user_enable], [user_issue_time], [user_issue_date], [user_issue_datetime]) VALUES (3, N'TEST02', N'012fc33e65b8c08ed95106dd005cc6df', N'TEST02', N'ทดสอบ 02', N'IT', N'TEST02@all2gether.net', N'ABT00002', N'USER', N'Enable', CAST(N'09:35:41' AS Time), CAST(N'2021-08-23' AS Date), CAST(N'2021-08-23T09:35:41.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_knowledge_user] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_knowledge_user_online] ON 

INSERT [dbo].[tbl_knowledge_user_online] ([kb_online_id], [user_code], [user_login_name], [user_dept], [kb_online_date], [kb_online_lastime]) VALUES (2, N'GDJ00020', N'Warasayo Chupratum', N'WH- sequence', NULL, CAST(N'2022-02-21T16:34:20.000' AS DateTime))
INSERT [dbo].[tbl_knowledge_user_online] ([kb_online_id], [user_code], [user_login_name], [user_dept], [kb_online_date], [kb_online_lastime]) VALUES (8, N'TTV02984', N'Khwannabhaphorn Mingkhuwan', N'TTV', CAST(N'2022-03-29' AS Date), CAST(N'2022-03-29T17:00:40.000' AS DateTime))
INSERT [dbo].[tbl_knowledge_user_online] ([kb_online_id], [user_code], [user_login_name], [user_dept], [kb_online_date], [kb_online_lastime]) VALUES (9, N'ABT05045', N'Lalita Phimphama', N'ABT', CAST(N'2022-03-24' AS Date), CAST(N'2022-03-24T13:33:31.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_knowledge_user_online] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_knowledge_view] ON 

INSERT [dbo].[tbl_knowledge_view] ([count_view_id], [count_view_knowledge_code], [count_view]) VALUES (1, N'KB-2021-0001', 8)
INSERT [dbo].[tbl_knowledge_view] ([count_view_id], [count_view_knowledge_code], [count_view]) VALUES (2, N'KB-2021-0002', 10)
INSERT [dbo].[tbl_knowledge_view] ([count_view_id], [count_view_knowledge_code], [count_view]) VALUES (3, N'KB-2021-0003', 0)
SET IDENTITY_INSERT [dbo].[tbl_knowledge_view] OFF
GO
/****** Object:  StoredProcedure [dbo].[InsertKnowledge]    Script Date: 3/31/2022 2:48:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertKnowledge]
	   @knowledge_code                NVARCHAR(50)  = NULL   , 
	   @knowledge_title               NVARCHAR(100) = NULL   ,
       @knowledge_title_other         NVARCHAR(100) = NULL   , 
	   @knowledge_author			  NVARCHAR(19) = NULL   , 
       @knowledge_dept                NVARCHAR(50)  = NULL   , 
       @knowledge_file_link           NVARCHAR(300)  = NULL  ,
	   @knowledge_emp_no			  NVARCHAR(20)  = NULL  ,
	   @knowledge_user_upload         NVARCHAR(20)  = NULL  ,
	   @knowledge_issue_time          TIME  = NULL  ,
	   @knowledge_issue_date          DATE = NULL  ,
	   @knowledge_issue_datetime      DATETIME  = NULL  
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO tbl_knowledge_data
		(
			knowledge_code
		   ,knowledge_title
		   ,knowledge_title_other
           ,knowledge_author
           ,knowledge_dept
           ,knowledge_file_link
		   ,knowledge_emp_no
           ,knowledge_user_upload
           ,knowledge_issue_time
           ,knowledge_issue_date
           ,knowledge_issue_datetime
		)
	VALUES
		(
			@knowledge_code,                
			@knowledge_title, 
			@knowledge_title_other,
			@knowledge_author,
            @knowledge_dept,                
            @knowledge_file_link,          
	        @knowledge_emp_no,			  
	        @knowledge_user_upload,        
	        @knowledge_issue_time,         
	        @knowledge_issue_date,          
	        @knowledge_issue_datetime 
		)
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_config_email_server', @level2type=N'COLUMN',@level2name=N'email_srv_status'
GO
