USE [db_hrms]
GO
/****** Object:  Table [dbo].[tbl_user]    Script Date: 12/8/2021 1:59:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_user](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_code] [nvarchar](50) NULL,
	[user_pass_md5] [nvarchar](1000) NULL,
	[user_name_th] [nvarchar](100) NULL,
	[user_name_en] [nvarchar](100) NULL,
	[user_company] [nvarchar](100) NULL,
	[user_section] [nvarchar](100) NULL,
	[user_email] [nvarchar](200) NULL,
	[user_tel] [nvarchar](50) NULL,
	[user_type] [nvarchar](50) NULL,
	[user_level] [int] NULL,
	[user_enable] [int] NULL,
	[user_force_pass_chg] [int] NULL,
	[user_kb_upload] [int] NULL,
	[user_issue_by] [nvarchar](50) NULL,
	[user_issue_date] [date] NULL,
	[user_issue_time] [time](7) NULL,
	[user_issue_datetime] [datetime] NULL,
 CONSTRAINT [PK_tbl_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_user] ON 

GO
SET IDENTITY_INSERT [dbo].[tbl_user] OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Emp. code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_user', @level2type=N'COLUMN',@level2name=N'user_code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tbl_user', @level2type=N'COLUMN',@level2name=N'user_enable'
GO
