<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="https://kb.albatrosslogistic.com/knowledge_bank/404" responseMode="Redirect" />
            <error statusCode="500" prefixLanguageFilePath="" path="https://kb.albatrosslogistic.com/knowledge_bank/500" responseMode="Redirect" />
        </httpErrors>
        <security>
            <requestFiltering>
                <!-- Allow 100MB requests -->
                <requestLimits maxAllowedContentLength="1000000000" />
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
                <rule name="https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <!-- <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" /> -->
                </rule>
                <rule name="PHP Rewrite" stopProcessing="true">
                    <match url="^([^\.]+)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}.php" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
